<% data.projects.each do |project| %>
    <span><%= project.name %></span>
    <span><%= project.description %></span>
    <span><%= project.url %></span>
    <span><%= project.github %></span>
    <ul>
        <% project.tags.each do |tag| %>
            <li> <%= tag %> </li>
        <% end %>
    </ul>
 <% end %>

 <div class="card">
     <h2 class="card-name">Project Name</h2>
     <p class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
     <a href="#" class="button">Out link</a>
 </div>
 