<% data.projects.each do |project| %>
    <div class="card">
        <div class="card-image" style="background: url(/assets/images/<%= project.image %>) top left / cover no-repeat"></div>
        <div class="card-content">
            <div class="card-tags">
                <% project.tags.each do |tag| %>
                <span class="card-tag"><%= tag %></span>
                <% end %>
            </div>
            <h2 class="card-name"><%= project.name %></h2>
            <p class="card-description"><%= project.description %></p>
            <div class="link-group">
                <a href="<%= project.github %>" target="_blank" rel="noopener noreferrer" class="icons8-github" data-tooltip="See on GitHub"></a>
                <a href="<%= project.url %>" target="_blank" rel="noopener noreferrer" class="button">Check it out</a>
            </div>
        </div>
    </div>
 <% end %>