<% data.projects.each do |project| %>
    <span><%= project.name %></span>
    <span><%= project.description %></span>
    <span><%= project.url %></span>
    <span><%= project.github %></span>
    <ul>
        <% project.tags.each do |tag| %>
            <li> <%= tag %> </li>
        <% end %>
    </ul>
 <% end %>

 <div class="card">
    <div class="card-image"></div>
     <div class="card-content">
        <div class="card-tags">
            <span class="card-tag">Rails</span>
            <span class="card-tag">JavaScript</span>
            <span class="card-tag">SCSS</span>
            <span class="card-tag">PostgreSQL</span>
            <span class="card-tag">Otherthing</span>
        </div>
        <h2 class="card-name">Project Name</h2>
        <p class="card-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <div class="link-group">
            <a href="#" class="icons8-github"></a>
            <a href="#" class="button">Check it out</a>
        </div>
    </div>
 </div>

 <% data.projects.each do |project| %>
    <span><%= project.name %></span>
    <span><%= project.description %></span>
    <span><%= project.url %></span>
    <span><%= project.github %></span>
    <ul>
        <% project.tags.each do |tag| %>
            <li> <%= tag %> </li>
        <% end %>
    </ul>
 <% end %>

 <% data.projects.each do |project| %>
    <div class="card">
        <div class="card-image"></div>
        <div class="card-content">
            <div class="card-tags">
                <% project.tags.each do |tag| %>
                <span class="card-tag"><%= tag %></span>
                <% end %>
            </div>
            <h2 class="card-name"><%= project.name %></h2>
            <p class="card-description"><%= project.description %></p>
            <div class="link-group">
                <a href="<%= project.github %>" class="icons8-github"></a>
                <a href="<%= project.url %>" class="button">Check it out</a>
            </div>
        </div>
    </div>
 <% end %>