<!DOCTYPE html>
<html lang="en">
<!-- <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/brands.min.css">
  <title>Troy's Portfolio</title>
</head> -->
<body>
  <%= partial(:'partials/nav', :locals => { :name => 'Troy', :color => '#2D313E !important' })%>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <%= partial(:'partials/hero')%>
        <%= partial(:'partials/projects')%>
        <%= partial(:'partials/contact')%>
      </div>
    </div>
  </div>
  <%= partial(:'partials/footer')%>
</body>
</html>
